@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.btn {
    width: 100%;
    display: block;
    padding: 12px;
    border-radius: 20px;
    font-size: 15px;
    background-color: rgb(74, 74, 74);
    color: rgb(255, 255, 255);
    outline: 0;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    border: none;
    transition: 0.5s;
}

.btn:hover {
    color: white;
    background-color: black;
    transition: 0.5s;
    cursor: pointer;
    outline: 0;
    background: rgba(0, 0, 0, 0.6);
}

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(-60deg, rgb(150, 76, 54), rgb(126, 33, 68), rgb(22, 99, 127), rgb(21, 122, 98));
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
}

.login h1 {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    text-align: center;
}

input {
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
    border: none;
    outline: none;
    padding: 13px;
    font-size: 14px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: 0.5s;
}

input:focus {
    background: rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}