@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(-60deg, rgb(150, 76, 54), rgb(126, 33, 68), rgb(22, 99, 127), rgb(21, 122, 98));
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.titol {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    color: white;
    text-shadow: 2px 2px 6px black;
    font-weight: bold;
    display: block;
    position: relative;
    text-align: center;
    height: auto;
    z-index: 1;
}

.form {
    width: 600px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px black;
    padding: 50px 50px 20px 50px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
}

.form h4 {
    margin: -15px 0 0px 0;
    font-weight: bold;
}

.form input[type=text] {
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    margin-top: 5px;
}

.form textarea {
    height: 70px;
    resize: none;
    border-radius: 20px;
    padding: 10px;
}

.col-12 label {
    margin-top: 20px;
}

.btn {
    width: 100%;
    margin-top: 30px;
    border-radius: 25px;
    padding: 10px 15px 10px 15px;
    margin-bottom: 10px;
}